body {
	background: url(http://kurld.com/images/wallpapers/white-background-image/white-background-image-6.png);
	font-family: arial;
	text-align: center;
	max-width: 1000px;
}

h1 {
	color: purple;
}


a {
	color: purple;
}

p {

}